<style>
  .button {
display: inline-block;
padding: 15px 25px;
font-size: 24px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #7bc1d3;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
}

.button:hover { background-color: #408a9c;}

.button:active {
  background-color: #7bc1d3;
box-shadow: 0 5px #666;
transform: translateY(4px);
}
</style>

<div>
    <div class="jumbotron" style="margin: 45px">
        <h2 style="text-align: center;padding-top: 5%;color: rgb(38, 93, 110);"><b>Login</b></h2>
      
        <form action="">
          <div class="container">
            <p style="text-align: center;padding-bottom: 20px">
               E-mail <input type="text" name="email" email required style="padding-right: 60px;margin-left: 35px" ></p>
                </div>
           <div class="container">
            <p style="text-align: center">
           Password <input type="text" name="email" required style="padding-right: 60px;margin-left: 15px"> <br>
            <br><button class="button"> Login</button></p>          
            </div>
        </form>
    </div>
  </div>